<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <h2>Edit your secret</h2>
    <%= form_for [@user,@secret], { :class => 'secret_sentence', :method => 'PUT'} do |f| %>
      <%= f.text_field :sentence, { :class => 'secret_sentence', :type => "search"} %>
    <% end %>
  </body>
</html>
