<div class="main" id="form">
  <h1> Do you have a secret? </h1>
  <%= form_for @secret, { :class => 'secret_sentence' } do |f| %>
    <%= f.text_field :sentence, { :class => 'secret_sentence', :type => "search"} %>
  <% end %>
</div>