<script>
  navigator.geolocation.getCurrentPosition(geolocationSuccess,geolocationError);

  function geolocationSuccess(position) {
    document.getElementById('secret_latitude').value = position.coords.latitude;
    document.getElementById('secret_longitude').value = position.coords.longitude;
  };

  function geolocationError() {
    // Handle error, for now we'll just log to console
    console.log('please enable location for this feature to work!');
  };
</script>

<div class="main" id="form">
  <h1> Do you have a secret? </h1>
  <%= form_for @secret, { :class => 'secret_sentence' } do |f| %>
    <%= f.text_field :sentence, { :class => 'secret_sentence', :type => "search"} %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  <% end %>
</div>
