<div id="main">
  <h1> Enter your secret </h1>
  <%= form_for @secret, { :class => 'secret_sentence' } do |f| %>
    <%= f.text_field :sentence, { :class => 'secret_sentence', :type => "search"} %>
  <% end %>
</div>