<h1>This a secret shared with you:</h1>
<h2><%= @secret.returnSecret.sentence %></h2>
<p><%= @secret.sentence %></p>

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Brooklyn&key=AIzaSyD_synucWlaMXTntufNH69zwfBjKMaTzT8" allowfullscreen></iframe>