function Secret(secret) {
  this.id = secret.id
  this.sentence = secret.sentence
  this.user_name = secret.user.name
  this.location_id = secret.location.id
  this.user_id = secret.user.id
  this.location_address = secret.location.address
  this.location_city = secret.location.city
}

Secret.prototype.formatSecrets = function () {
  let html = `
  <div id="${this.id}">
      <h2>${this.sentence}</h2>
      <p>by ${this.user_name} </p> <br>
      <a href="/locations/${this.location_id}" class="location-js" data-id="${this.location_id}" data-secret-id="${this.id}" >Show map</a>
  </div>
    <br><hr>

  `
  return html
};

Secret.prototype.formatSecretAtLocation = function () {
  let html = `
  <div id="${this.id}">
      <h1>${this.sentence}</h1>
      <p>by ${this.user_name}</p>
  </div>
    <br>

  `
  return html
};


function Location(location) {
  this.longitude = location.longitude
  this.latitude = location.latitude
  this.address = location.address
}

Location.prototype.formatLocation = function () {
  let html = `
    <h4 id='address'> ${this.address}</h4>
    <h5 id='coords'> Long: ${this.longitude} Lat: ${this.latitude}</h3>
    <iframe width="100%" height="350" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=${this.address}&key=<%=ENV["GOOGLE_MAP_KEY"]%>" allowfullscreen></iframe>
  `
  return html
};
