#form {
  margin: 20% auto 0% 0%;
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.secret_sentence[type=search] {
  margin: auto;
  width: 40%;
  border: 0.125rem solid #e6e6e6;
  border-radius: 0;
  background-image: url("https://image.flaticon.com/icons/svg/32/32213.svg");
  background-size: 3%;
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
}


@media only screen 
and (min-device-width : 350px)
and (max-device-width : 500px) {

  body {
    margin: 50% 5% 0 5%;
  }

  .main {
      font-size: 350%;
      width: 100%;
  }

  .secret_sentence[type=search] {
    width: 80%;
    padding: 4.75rem 1.25rem 0.75rem 2rem;;
    background-size: 3%;
    background-position: 0.625rem 0.625rem;
    border-bottom: 1px solid red;
    border-top: 0 solid white;
    border-left: 0 solid white;
    border-right: 0 solid white;
  }
}

/* .secret_sentence[type=search]:focus {
  width: 40%;
} */

