#main {
  margin: auto;
  display: block;
}

body {
  font-family: Roboto;
  text-align: center;
}

.secret_sentence[type=search] {
  margin: auto;
  width: 40%;
  border: 0.125rem solid #e6e6e6;
  border-radius: 0;
  background-image: url("https://image.flaticon.com/icons/svg/32/32213.svg");
  background-size: 3%;
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
}

/* .secret_sentence[type=search]:focus {
  width: 40%;
} */

